

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <script integrity="sha384-xhUEZJQdDfhZhg68f05YW1/j4NXDqYJ/tXiIf42oUXWoXCd2f86StHAUG7DbPAWO" src="./css/font-awesome.js"></script>
  <link integrity="sha256-kvxC7GOYXiyYWps4a0jbRQCwWO5xsBuyw1gcz2pn6Lg=" rel="stylesheet" href="/assets/about.css">
  <title>About me</title>
</head>
<body>
  <nav class="nav-about">
    <div class="navbar-links-about">
    <a href="home.html" class="navbar-link-about">Home</a>  
    <a href="/about.html" class="navbar-link-about">About</a>
    <a href="/portfolio.html" class="navbar-link-about">Portfolio</a>
   
    <a href="blog.html" class="navbar-link-about">Blog</a>
    <a href="contact.html" class="navbar-link-about">Contact</a>
    </div>
  </nav>

  <div class="container-about">
    <div class="grid-about">
      <div class="white-about"></div>
      <div class="colour-about"></div>
      <div class="text-about">
        <h2>About me</h2>
        <p>I’m a former teacher turned developer.</p>
        <p>Growing up, I never had the opportunity to code at any of the schools I attended. My interest in technology only grew after becoming a teacher and implementing code clubs for my students.</p>
        <p>I began seeing the importance of being not just consumers but also creators of technology and started to learn HTML and CSS in my spare time.</p>
        <p>This hobby slowly grew to become something more &#8212; a career I wanted to pursue as I began to see the transformative power of coding.</p>
        <p>Currently, I am enrolled at Coder Academy to undertake a Diploma of IT from August 2019 to February 2020.</p>

      </div>
      <div class="photo-about"></div>
      <div class="cv-about">
          <a href="/Portfolio-2019-CV.pdf" target="_blank" class="button-about" title="CV pdf">Michelle's CV</a>
      </div>
    </div>
  </div>
  
  <footer>
    <div class="footer-links">
        <a href="http://github.com/themishmash" target="_blank">
            <i class="fab fa-github footer-link"> </i>
        </a>
        <a href="http://www.linkedin.com/in/wong-mich" target="_blank">
        <i class="fab fa-linkedin footer-link"></i>
        </a>
    </div>
    <div class="footer-tagline">
      <p>&copy; 2019 Michelle Wong</p>
    </div>

  </footer>
</body>
</html>